.App {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0 100px;
}

.Header {
  text-align: center;
  position: relative;
  padding-bottom: 30px;
}

.Header h1 {
  font-size: 320px;
  line-height: 420px;
  transform: rotate(-15deg);
  font-family: 'Dancing Script', cursive;
}

.Header__title {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
}

.Header__illustration {
  max-height: 300px;
  top: 0px;
  right: 50px;
  position: absolute;
}

.Main {
  display: flex;
}

.Main__Col {
  padding: 10px 20px;
}

.Main__Col:first-child {
  border-right: 1px solid #e1e1e1;
}

.Main__Col p {
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 20px;
}

.Main__List--two-col li {
  display: flex;
  justify-content: space-between;
}

.Main__List--tag-list {
  display: flex;
}

.Main__List--tag-list li {
  padding: 0 5px;
  border-right: 2px solid #e1e1e1;
}

.Main__List--tag-list li:first-child {
  padding-left: 0;
}

.Main__List--tag-list li:last-child {
  border-right: none;
}
